In [76]:
import pandas as pd
import numpy as np 
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [77]:
df=pd.read_csv("price.csv")
df

,bedrooms,washrooms,floors,area_sqft,parking,furnishing,year_built,price,city
0,3,2,2,1200,1,Fully-Furnished,2015,8500000,Mumbai
1,2,1,1,850,0,Semi-Furnished,2008,4200000,Delhi
2,4,3,3,1800,2,Fully-Furnished,2010,12500000,Bangalore
3,2,2,1,950,1,Unfurnished,2000,3800000,Chennai
4,3,2,2,1300,1,Semi-Furnished,2012,7500000,Hyderabad
...,...,...,...,...,...,...,...,...,...
68,1,1,1,530,0,Unfurnished,1991,2300000,Pune
69,3,2,2,1400,1,Fully-Furnished,2016,8900000,Kolkata
70,2,1,1,700,0,Semi-Furnished,2007,3200000,Delhi
71,3,2,2,1250,1,Fully-Furnished,2013,7800000,Mumbai
72,4,3,3,2000,2,Fully-Furnished,2019,14000000,Bangalore

In [78]:
df.isnull() .sum()

bedrooms      0
washrooms     0
floors        0
area_sqft     0
parking       0
furnishing    0
year_built    0
price         0
city          0
dtype: int64

In [79]:
le=LabelEncoder()

In [80]:
le = LabelEncoder()
df["furnishing"] = le.fit_transform(df["furnishing"])

In [81]:
df.head()

,bedrooms,washrooms,floors,area_sqft,parking,furnishing,year_built,price,city
0,3,2,2,1200,1,0,2015,8500000,Mumbai
1,2,1,1,850,0,1,2008,4200000,Delhi
2,4,3,3,1800,2,0,2010,12500000,Bangalore
3,2,2,1,950,1,2,2000,3800000,Chennai
4,3,2,2,1300,1,1,2012,7500000,Hyderabad

In [82]:
city_map = {
    "Bangalore": 0,
    "Chennai": 1,
    "Delhi": 2,
    "Hyderabad": 3,
    "Kolkata": 4,
    "Mumbai": 5,
    "Pune": 6
}

df["city"] = df["city"].map(city_map)

In [83]:
df

,bedrooms,washrooms,floors,area_sqft,parking,furnishing,year_built,price,city
0,3,2,2,1200,1,0,2015,8500000,5
1,2,1,1,850,0,1,2008,4200000,2
2,4,3,3,1800,2,0,2010,12500000,0
3,2,2,1,950,1,2,2000,3800000,1
4,3,2,2,1300,1,1,2012,7500000,3
...,...,...,...,...,...,...,...,...,...
68,1,1,1,530,0,2,1991,2300000,6
69,3,2,2,1400,1,0,2016,8900000,4
70,2,1,1,700,0,1,2007,3200000,2
71,3,2,2,1250,1,0,2013,7800000,5
72,4,3,3,2000,2,0,2019,14000000,0

In [84]:
print(df.columns)

Index(['bedrooms', 'washrooms', 'floors', 'area_sqft', 'parking', 'furnishing',
       'year_built', 'price', 'city'],
      dtype='object')

In [85]:
df=df.astype(int)

In [54]:
df

,bedrooms,washrooms,floors,area_sqft,parking,furnishing,year_built,price,city
0,3,2,2,1200,1,0,2015,8500000,5
1,2,1,1,850,0,1,2008,4200000,2
2,4,3,3,1800,2,0,2010,12500000,0
3,2,2,1,950,1,2,2000,3800000,1
4,3,2,2,1300,1,1,2012,7500000,3
...,...,...,...,...,...,...,...,...,...
68,1,1,1,530,0,2,1991,2300000,6
69,3,2,2,1400,1,0,2016,8900000,4
70,2,1,1,700,0,1,2007,3200000,2
71,3,2,2,1250,1,0,2013,7800000,5
72,4,3,3,2000,2,0,2019,14000000,0

In [55]:
x=df.drop("price", axis=1)
y=df["price"]

In [56]:
scaler=StandardScaler()
x_scaled=scaler.fit_transform(x)

In [57]:
y

0      8500000
1      4200000
2     12500000
3      3800000
4      7500000
        ...
68     2300000
69     8900000
70     3200000
71     7800000
72    14000000
Name: price, Length: 73, dtype: int32

In [58]:
from sklearn.model_selection import train_test_split

In [59]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [60]:
from sklearn.linear_model import LinearRegression

In [61]:
lr=LinearRegression()

In [62]:
lr.fit(x_train,y_train)

LinearRegression()

In [63]:
y_pred=lr.predict(x_test)

In [64]:
from sklearn.metrics import r2_score

In [65]:
r2=r2_score(y_test,y_pred)

In [66]:
r2

0.9740288741514547

In [67]:
accuracy_percent = r2 * 100
print("Accuracy (%):", accuracy_percent)

Accuracy (%): 97.40288741514547

In [68]:
df

,bedrooms,washrooms,floors,area_sqft,parking,furnishing,year_built,price,city
0,3,2,2,1200,1,0,2015,8500000,5
1,2,1,1,850,0,1,2008,4200000,2
2,4,3,3,1800,2,0,2010,12500000,0
3,2,2,1,950,1,2,2000,3800000,1
4,3,2,2,1300,1,1,2012,7500000,3
...,...,...,...,...,...,...,...,...,...
68,1,1,1,530,0,2,1991,2300000,6
69,3,2,2,1400,1,0,2016,8900000,4
70,2,1,1,700,0,1,2007,3200000,2
71,3,2,2,1250,1,0,2013,7800000,5
72,4,3,3,2000,2,0,2019,14000000,0

In [69]:
x

,bedrooms,washrooms,floors,area_sqft,parking,furnishing,year_built,city
0,3,2,2,1200,1,0,2015,5
1,2,1,1,850,0,1,2008,2
2,4,3,3,1800,2,0,2010,0
3,2,2,1,950,1,2,2000,1
4,3,2,2,1300,1,1,2012,3
...,...,...,...,...,...,...,...,...
68,1,1,1,530,0,2,1991,6
69,3,2,2,1400,1,0,2016,4
70,2,1,1,700,0,1,2007,2
71,3,2,2,1250,1,0,2013,5
72,4,3,3,2000,2,0,2019,0

In [70]:
import joblib

In [71]:
joblib.dump(lr, "house5.pkl")

['house5.pkl']

In [72]:
df

,bedrooms,washrooms,floors,area_sqft,parking,furnishing,year_built,price,city
0,3,2,2,1200,1,0,2015,8500000,5
1,2,1,1,850,0,1,2008,4200000,2
2,4,3,3,1800,2,0,2010,12500000,0
3,2,2,1,950,1,2,2000,3800000,1
4,3,2,2,1300,1,1,2012,7500000,3
...,...,...,...,...,...,...,...,...,...
68,1,1,1,530,0,2,1991,2300000,6
69,3,2,2,1400,1,0,2016,8900000,4
70,2,1,1,700,0,1,2007,3200000,2
71,3,2,2,1250,1,0,2013,7800000,5
72,4,3,3,2000,2,0,2019,14000000,0

KeyError: 'Predicted_Price'